.heading{
    width:100%;
    text-align:center;
}
.heading h3{
    display:inline;
}
.heading button{
    float:right;
    border:1px solid white;
}
.big_image{
    width:100%;
}
#start,#status{
    font-size:25px;
}
h4{
    background-color:lightblue;
    line-height:3;
    margin:0%;
}
.modal-dialog{
    width:90%;
}
h3{
    color:blue;
    font-size:30px;
    background-color:orange;
}
.instruction_image{
    display:inline-block;
    width:45%;
}
video{
    background: url('game_console.png');
    background-size:cover;
    background-position:center;
    padding:25px;
}